{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'core/images/favicon.ico' %}">
</head>
<body>
    <header>
        <h1>Checkout</h1>
    </header>
    <main>
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.get_total_price }}</td>
            </tr>
            {% endfor %}
        </table>
        <h2>Total: ${{ total }}</h2>
        <a href="{% url 'cart:order_complete' %}" class="button">Complete Order</a>
    </main>
</body>
</html>
