{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Complete</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'core/images/favicon.ico' %}">
</head>
<body>
    <header>
        <h1>Order Complete</h1>
    </header>
    <main>
        <p>Thank you for your order! Your cart has been cleared.</p>
        <a href="{% url '' %}" class="button">Return to Homepage</a>
    </main>
</body>
</html>