services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=timea_db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=secretpass

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgres://admin:secretpass@db:5432/timea_db
    depends_on:
      - db

volumes:
  postgres_data: