{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>About Timea</title>
    <link rel="icon" href="{% static 'core/images/favicon.ico' %}">
</head>
<body>
    <style>
    </style>
    <header>
        <h1>About Timea Classic</h1>
    </header>
    
    <main>
        <h2>Welcome to the <a href="/">Timea clasic Babyshop</a>.</h2>
        <p>This is a revolutionary platform that...</p>
        <p> Timea Classic is a babyshop that offers a wide range of baby products. </p>


        <p>Planzo</p>
    </main>

    <div> <a href="/"> Back</a></div>

    
    <footer>
        <p>&copy; 2025 Timea. All rights reserved.</p>
    </footer>
</body>
</html>