        {% comment %} <section class="about">
            <a href="{% url 'about' %}" class="about-btn">About Us</a>
        </section>        

        <section class="auth">
            <form action="{% url 'register' %}" method="get">
                <button type="submit" class="auth-btn">Sign up</button>
            </form>
            <form action="{% url 'login' %}" method="get">
                <button type="submit" class="auth-btn">Sign in</button>
            </form>
        </section>
    </header> {% endcomment %}


    {% comment %} <section class="about">
        <a href="{% url 'about' %}" class="about-btn">About Us</a>
    </section>        

    <section class="auth" style="display: flex; gap: 10px; align-items: center;">
        <form action="{% url 'register' %}" method="get" style="display: inline-block; margin: 0;">
            <button type="submit" class="auth-btn" style="text-decoration: none; display: inline-block; cursor: pointer;">Sign up</button>
        </form>
        <form action="{% url 'login' %}" method="get" style="display: inline-block; margin: 0;">
            <button type="submit" class="auth-btn" style="text-decoration: none; display: inline-block; cursor: pointer;">Sign in</button>
        </form>
    </section> {% endcomment %}